<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-black mt-8 font-extrabold lg:text-5xl text-4xl tracking-tight">
          Market-Wide Analytics for E-Commerce
        </p>
      </div>
      <dl class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div class="text-slate-500">
          <strong class="text-slate-700">Track E-Commerce Stores</strong> ━ We monitor numerous small to medium-sized e-commerce stores, providing comprehensive analytics for your business insights.
        </div>
        <div class="text-slate-500">
          <strong class="text-slate-700">Revenue and Holdings</strong> ━ Get real-time data on revenue and holdings of online stores, empowering you to make informed decisions and optimize your business operations.
        </div>
        <div class="text-slate-500">
          <strong class="text-slate-700">Market Trends Analysis</strong> ━ Stay ahead of the competition with our market trends analysis. Anticipate shifts in consumer behavior and identify emerging niches to maximize your business potential.
        </div>
      </dl>
    </div>
    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="bg-slate-100 p-8 rounded-3xl">
        <img alt="" class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl" src="https://linear.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero%404x.15e3a396.jpg&w=3840&q=75" />
      </div>
    </div>
  </div>
</section>
