<section class="px-4 py-8 bg-gray-100">
  <div class="container mx-auto">
    <div class="flex flex-nowrap overflow-x-auto">

      <section class="flex flex-col px-6 rounded-3xl lg:py-8 border border-gray-300 mr-4">
        <h3 class="mt-5 text-lg text-black font-display">Free</h3>
        <p class="mt-2 text-sm text-slate-500">
          For personal use and small projects.
        </p>
        <p class="order-first text-5xl font-bold tracking-tight text-black font-display">
          R 0
        </p>
        <ul role="list" class="flex flex-col order-last mt-10 text-sm text-slate-600 gap-y-3">
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline"></ion-icon>
            <span class="ml-4">1 store location</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline"></ion-icon>
            <span class="ml-4">Up to 100 products</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline"></ion-icon>
            <span class="ml-4">Basic support</span>
          </li>
        </ul>
        <a class="inline-flex items-center justify-center w-full px-6 py-3 mt-8 text-center text-white transition duration-200 ease-in-out bg-green-600 hover:bg-green-700 rounded-xl focus:outline-none" aria-label="Free tier" href="/register">Get started</a>
      </section>

      <section class="flex flex-col px-6 rounded-3xl lg:py-8 border border-gray-300 mr-4">
        <h3 class="mt-5 text-lg text-black font-display">Basic</h3>
        <p class="mt-2 text-sm text-slate-500">
          For small businesses and startups.
        </p>
        <p class="order-first text-5xl font-bold tracking-tight text-black font-display">
          R 99
        </p>
        <ul role="list" class="flex flex-col order-last mt-10 text-sm text-slate-600 gap-y-3">
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline"></ion-icon>
            <span class="ml-4">Connect up to 5 store locations</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline"></ion-icon>
            <span class="ml-4">Track up to 250 products</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline"></ion-icon>
            <span class="ml-4">Email support</span>
          </li>
        </ul>
        <a class="inline-flex items-center justify-center w-full px-6 py-3 mt-8 text-center text-white transition duration-200 ease-in-out bg-green-600 hover:bg-green-700 rounded-xl focus:outline-none" aria-label="Basic tier" href="/register">Get started</a>
      </section>

      <section class="flex flex-col px-6 rounded-3xl lg:py-8 border border-gray-300 mr-4">
        <h3 class="mt-5 text-lg text-black font-display">Pro</h3>
        <p class="mt-2 text-sm text-slate-500">
          For growing businesses and online stores.
        </p>
        <p class="order-first text-5xl font-bold tracking-tight text-black font-display">
          R 199
        </p>
        <ul role="list" class="flex flex-col order-last mt-10 text-sm text-slate-600 gap-y-3">
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline"></ion-icon>
            <span class="ml-4">Connect up to 10 store locations</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline"></ion-icon>
            <span class="ml-4">Track up to 500 products</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline"></ion-icon>
            <span class="ml-4">Priority support</span>
          </li>
        </ul>
        <a class="inline-flex items-center justify-center w-full px-6 py-3 mt-8 text-center text-white transition duration-200 ease-in-out bg-green-600 hover:bg-green-700 rounded-xl focus:outline-none" aria-label="Pro tier" href="/register">Get started</a>
      </section>

      <section class="flex flex-col px-6 rounded-3xl lg:py-8 border border-gray-300 mr-4">
        <h3 class="mt-5 text-lg text-black font-display">Enterprise</h3>
        <p class="mt-2 text-sm text-slate-500">
          For large businesses and organizations.
        </p>
        <p class="order-first text-5xl font-bold tracking-tight text-black font-display">
          R 499
        </p>
        <ul role="list" class="flex flex-col order-last mt-10 text-sm text-slate-600 gap-y-3">
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline"></ion-icon>
            <span class="ml-4">Unlimited store locations</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline"></ion-icon>
            <span class="ml-4">Track unlimited products</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline"></ion-icon>
            <span class="ml-4">24/7 priority support</span>
          </li>
        </ul>
        <a class="inline-flex items-center justify-center w-full px-6 py-3 mt-8 text-center text-white transition duration-200 ease-in-out bg-green-600 hover:bg-green-700 rounded-xl focus:outline-none" aria-label="Enterprise tier" href="/register">Get started</a>
      </section>

    </div>
  </div>
</section>
