<section id="features">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Powerful Market Analytics for E-Commerce Success
        </p>
        <p class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-slate-500">
          Gain valuable insights and stay ahead of market trends with RetailRadar's comprehensive e-commerce analytics platform.
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2>
        <div>
          <div class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3">
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon aria-label="scan outline" class="hydrated md h-4 w-4" name="scan-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Market-Wide Analytics
                </p>
              </div>
              <div class="mt-4 text-slate-500 text-sm">
                RetailRadar tracks and analyzes data from numerous small to medium-sized e-commerce stores, providing comprehensive market-wide analytics including revenue tracking and product holdings.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon aria-label="scan outline" class="hydrated md h-4 w-4" name="scan-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Market Trends Analysis
                </p>
              </div>
              <div class="mt-4 text-slate-500 text-sm">
                Stay informed about the latest market trends and make data-driven decisions with RetailRadar's comprehensive analysis of industry dynamics and emerging opportunities.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon aria-label="scan outline" class="hydrated md h-4 w-4" name="scan-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Actionable Insights
                </p>
              </div>
              <div class="mt-4 text-slate-500 text-sm">
                RetailRadar provides you with valuable insights and reports that enable you to optimize your e-commerce strategies, identify growth opportunities, and maximize your online store's performance.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
