<section class="bg-slate-100">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="max-w-2xl mx-auto md:text-center">
      <h2 class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight">
        RetailRadar is trusted by many!
      </h2>
    </div>
    <div class="max-w-2xl mx-auto mt-16 sm:gap-8 lg:mt-20 lg:max-w-none flex justify-center">
      <div class="w-80">
        <div class="flex justify-between items-start">
          <div class="w-72 bg-white rounded-3xl p-6">
            <blockquote>
              <p class="text-base text-slate-500">
                RetailRadar has transformed our business operations. Its advanced analytics and accurate market trends have helped us make data-driven decisions and achieve remarkable growth.
              </p>
            </blockquote>
            <figcaption class="flex items-center justify-between mt-6">
              <div>
                <div class="text-lg font-semibold leading-6 text-black font-display">
                  John Smith
                </div>
                <div class="mt-1 text-sm text-slate-500">
                  CEO at XYZ Corporation
                </div>
              </div>
              <div class="overflow-hidden rounded-full bg-slate-50">
                <img
                  alt=""
                  src="https://images.unsplash.com/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  width="56"
                  height="56"
                  decoding="async"
                  data-nimg="future"
                  class="object-cover h-14 w-14"
                  loading="lazy"
                  style="color: transparent"
                />
              </div>
            </figcaption>
          </div>
        </div>
      </div>
      <div class="w-80">
        <div class="flex justify-between items-start">
          <div class="w-72 bg-white rounded-3xl p-6">
            <blockquote>
              <p class="text-base text-slate-500">
                RetailRadar has provided invaluable insights into our market performance. The comprehensive tracking of revenue and holdings has empowered us to optimize our inventory management and drive profitability.
              </p>
            </blockquote>
            <figcaption class="flex items-center justify-between mt-6">
              <div>
                <div class="text-lg font-semibold leading-6 text-black font-display">
                  Emma Johnson
                </div>
                <div class="mt-1 text-sm text-slate-500">
                  Founder of ABC Enterprises
                </div>
              </div>
              <div class="overflow-hidden rounded-full bg-slate-50">
                <img
                  alt=""
                  src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                  width="56"
                  height="56"
                  decoding="async"
                  data-nimg="future"
                  class="object-cover h-14 w-14"
                  loading="lazy"
                  style="color: transparent"
                />
              </div>
            </figcaption>
          </div>
        </div>
      </div>
      <div class="w-80">
        <div class="flex justify-between items-start">
          <div class="w-72 bg-white rounded-3xl p-6">
            <blockquote>
              <p class="text-base text-slate-500">
                RetailRadar is a game-changer in the e-commerce analytics space. Its real-time market trends have enabled us to stay ahead of the competition and identify new growth opportunities.
              </p>
            </blockquote>
            <figcaption class="flex items-center justify-between mt-6">
              <div>
                <div class="text-lg font-semibold leading-6 text-black font-display">
                  Sarah Wilson
                </div>
                <div class="mt-1 text-sm text-slate-500">
                  Founder of XYZ Ventures
                </div>
              </div>
              <div class="overflow-hidden rounded-full bg-slate-50">
                <img
                  alt=""
                  src="https://images.unsplash.com/photo-1624224971170-2f84fed5eb5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1999&q=80"
                  width="56"
                  height="56"
                  decoding="async"
                  data-nimg="future"
                  class="object-cover h-14 w-14"
                  loading="lazy"
                  style="color: transparent"
                />
              </div>
            </figcaption>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
